@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

/* Swiper Custom Styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: theme('colors.orange.400') !important;
}

.swiper-pagination-bullet-active {
  background-color: theme('colors.orange.400') !important;
}

/* Channel Talk Custom Styles */
#ch-button {
  bottom: 100px !important;
}

@media (max-width: 640px) {
  #ch-button {
    bottom: 80px !important;
    right: 15px !important;
  }
}
